/* Hiệu ứng khi gõ chữ (Nảy nhẹ) */
@keyframes pop {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}
.animate-pop {
  animation: pop 0.1s ease-in-out forwards;
}

/* Hiệu ứng lật ô khi Enter */
@keyframes flip {
  0% {
    transform: rotateX(0);
    background-color: transparent;
    border-color: #374151;
  }
  45% {
    transform: rotateX(90deg);
    background-color: transparent;
    border-color: #374151;
  }
  55% {
    transform: rotateX(90deg);
  }
  100% {
    transform: rotateX(0);
  }
}
.animate-flip {
  animation: flip 0.5s ease-in forwards;
}
